@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
     background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}
.background-image{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  

}


@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}


.register-box {
    position:relative;
    width: 400px;
    height: 550px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    backdrop-filter: blur(15px);
    margin
}


h2{
    
        font-size: 2em;
        color: #fff;
        text-align: center;
    
}



.input-box {
    position: relative;
    width:310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}


.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#fff;
    pointer-events: none;
    transition: .5s;

}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}






.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;

}


.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;

}


button {
    width: 100%;
    height: 40px;
    background: #fff;
    border:none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500
}


.login-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;

}


.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}


.login-link p a:hover {
    text-decoration: underline;
}


@media(max-width: 360px) {
    .register-box {
        width: 100;
        height: 100vh;
        border:none;
        border-radius:0;
    }
}


/* button

.btn {
    margin: 100px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  .btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
   /* glow */
   /* .btn::before {
    /* content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }  */ 
  
  /* @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  } */
  
  /* hover */
  /* .btn:hover::before {
    opacity: 1;
  }
  
  .btn:active:after {
    background: transparent;
  }
  
  .btn:active {
    color: #000;
    font-weight: bold;
  /* } */ 